@keyframes inAnimation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.inAnimation {
  animation-name: inAnimation;
  animation-duration: 1s;
}
