.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  flex-direction: row-reverse;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  border: 1px solid black;
  aspect-ratio: 2 / 1;
}
