.embla-events {
  overflow: hidden;
  margin: 1rem 0rem;
  width: 100%;
  margin-top: 2rem;
}
.embla__container-events {
  display: flex;
  flex-direction: row-reverse;
}
.embla__slide-events {
  flex: 0 0 100%;
  min-width: 0;
}
@media (min-width: 528px) {
  .embla__slide-events {
    flex: 0 0 45%;
  }
  .embla__container-events {
    gap: 1rem;
  }
}
