/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
@font-face {
  font-family: "Yekan"; /* this value can be anything you wish - it gets used in the class definition below */
  src: url("./fonts/Yekan.ttf"); /* add the file path to your font here */
}

* {
  box-sizing: border-box;
}
body {
  font-family: Yekan;
  background-color: #f6f7fb;
}
