@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Yekan"; /* this value can be anything you wish - it gets used in the class definition below */
  src: url("./fonts/Yekan.ttf"); /* add the file path to your font here */
}

* {
  box-sizing: border-box;
}
body {
  font-family: Yekan;
  background-color: #f6f7fb;
}

.theme-main-color {
  background-color: #cc161c;
}
.theme-main-border-color {
  border-color: #cc161c;
}
.theme-text-color {
  color: #ffffff;
}
.theme-second-color {
  background-color: #1e293b;
}
.theme-accent-color {
  background-color: #a12;
}
.theme-gray-color {
  color: #a1a1a1;
}
.theme-borer-gray-color {
  color: #a1a1a1;
}
.theme-menu-selected-background-color {
  background-color: #f6f6f6;
}
.theme-menu-background-color {
  background-color: #fff;
}
.theme-menu-text-color {
  color: #333;
}

.theme-menu-select-color {
  background-color: #333;
  color: #111;
}
.loading {
  background-color: #f6f7fb;
}
